// .custom-card-actions{
//     color:  #fcd34d;
// }

// .custom-card-actions .mat-icon{
//     color: #4f46e5;
// }

.product-card{
   transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}